/*
background-color : #FFCCCC
color : #A0B0BB
color : #788F9F
color : #1D7EA8
color : #27A9E1
color : #93D4F0
color : #FFA933
color : #F55D5D
color : #4EC099
color : #1D2129
color : #2397CA
color : #365899
color : 
*/


header {
		background-color: green;
		width: 100%;
}

body {
	background-color: pink;
}

/* for older browsers */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

footer {
	background-color: orange;
	/*position: fixed;*/
}

.smaller-image {
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
	width:131px;
	height:131px
	padding: 0.5em;
	border-radius: 25%;
}

.heading {
	color: #000;
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.thumbnail {
	max-width: 100%;
}
