/*
color pallette:
light pink = #E5D1D0
light blue = #C5D1EB
darker blue = #92AFD7
light green = #839788
darker green = #395B50
*/
.smaller-image {
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
	width:131px;
	height:131px
	padding: 0.5em;
	border-radius: 25%;
}

.heading {
	color: #000;
	text-align: right;
}

body {
	background-color: #E5D1D0;
}

/* for older browsers */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}