/*
background-color : #FFCCCC
color : #A0B0BB
color : #788F9F
color : #1D7EA8
color : #27A9E1
color : #93D4F0
color : #FFA933
color : #F55D5D
color : #4EC099
color : #1D2129
color : #2397CA
color : #365899
color : 
*/

/* ensures page fits device screen without extra space or gaps*/

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


header {
	width: 100%;
}

/* for older browsers */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* sets inheritance for box sizing*/
*, *:before, *:after {
  box-sizing: inherit;
}

/* excludes images in default box sizing */ 
img { 
	box-sizing: content-box; 
}

body {
	background-color: #4EC099;
	/*add smooth scrolling for mobile screens*/
	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /*required to use bootstrap's navbar-fixed-top*/
    padding-top: 3em;
}


footer {
	background-color: #007bff;
	/*position: fixed;*/
}

.navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background: #365899;
}
/* not in use

.smaller-image {
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
	width:131px;
	height:131px
	padding: 0.5em;
	border-radius: 25%;
}*/

.heading {
	color: #000;
	text-align: center;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.thumbnail {
	width: 17.5em;
	height: auto;
	border: 0.0625em solid #ddd;
	border-radius: 0.25em;
	padding: 0.3125em;
}


.parallax {
    /* The image used */
    background-image: url(../static/rocks);
    width: 100%;
    /* Set a specific height */
    /*min-height: 500px; */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header-container {
	padding: 0;
}

#profile-pic {
	padding-top: 1em;
	border-radius: 60%;
	max-width: 25em;
	height: auto;
}